

<style>
 
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
 
 <div style="display:flex;gap:12px;place-content: center;width:100%">

 <a routerLink="/" class="" style="font-size:large ;color:azure;text-align: center;width:10vw">People</a>
   <a routerLink="/categories" style="font-size:large ;color:azure;text-align: left;width:10vw">Categories</a>
  <a routerLink="/peoplejokesearch" style="font-size:large ;color:azure;text-align: left;width:10vw">Search</a>
 </div>

</div>
<main id="DefaultComponent" > 
<router-outlet></router-outlet>
</main>





