<style>
tr,td {
padding: 1em; border-bottom:#000ee8 solid 2px;border-radius: 0px;
font-weight:bold;font-size: large;}
th {
padding: 1em; 
border-bottom:#000ee8 solid 2px;
background-color: powderblue;
margin-bottom: 30px;
}
.form-group{
padding-top: 10px;
display:flex;
flex-direction: column;
font-size: medium;
text-transform: capitalize;
}
.form-control{
padding: 10px;
margin-top: 12px;
font-size: medium;
text-transform: capitalize;
}
::-webkit-scrollbar{
width:1px;
}
body{overflow: hidden;}
</style>
<main  style="height:100vh;overflow:auto;padding-top:40px;
place-items: center;display: flex;flex-direction: column;">


<h1>{{title}} - {{SearchType}}</h1>

<div class="d-flex justify-content-center"  *ngIf="hideloader">
<div class="spinner-border" role="status" >
    <span class="sr-only" id="loading">Loading...</span>
</div>

</div>

<div [ngStyle]="{'height': '80vh','overflow':'auto','place-items':'center','display':'flex','flex-direction':'column' }">
<div>
<input type="search" class="form-control" 
 (change)="searchfunction()" [(ngModel)]="searchTable">
</div>
<table class="table lightweight-table" id='tab' *ngIf="JokeCatDetailList && JokeCatTable" [ngStyle]="{'width': '50%' }">
    <thead>
    <tr >
        <th scope="col" >Category</th>
         <th scope="col" >Value</th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of JokeCatDetailList;">
       <td ><a >{{ e.categories }}</a></td>
        <td ><a >{{ e.value }}</a></td>
    </tr>
    </tbody>
</table> 

<section class=" card-container" *ngIf="PeopleTable" 
style="width:50vw;display: flex; gap:12px;padding-top: 20px;flex-wrap: wrap;">

<div class=" form-group">
<label for="name">PersoN Name</label>
<input type="text"  id="name" readonly [(ngModel)]="PersoN_name" class=" form-control" >
</div>
<div class=" form-group">
<label for="height">Height</label>
<input type="text"  id="height" readonly [(ngModel)]="height" class=" form-control" >
</div>
<div class=" form-group">
<label for="mass">Mass</label>
<input type="text"  id="mass" readonly [(ngModel)]="mass" class=" form-control" >
</div>
<div class=" form-group">
<label for="hair_color">Hair Color</label>
<input type="text"  id="hair_color" readonly [(ngModel)]="hair_color" class=" form-control" >
</div>
<div class=" form-group">
<label for="skin_color">Skin Color</label>
<input type="text"  id="skin_color" readonly [(ngModel)]="skin_color" class=" form-control" >
</div>
<div class=" form-group">
<label for="eye_color">Eye Color</label>
<input type="text"  id="eye_color" readonly [(ngModel)]="eye_color" class=" form-control" >
</div>
<div class="form-group">

<select *ngIf="FilmList" class="form-control" >
<option *ngFor="let e of FilmList;" value={{e}}>{{e}}</option>
</select> 

</div>
</section> 
</div>
